body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  background-color: #ffff;
  color: white;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}
.logo img {
  height: 50px;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
nav ul li {
  margin: 0 15px;
}
nav ul li a {
  color: gray;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover {
  text-decoration: underline;
}
.producto {
  padding: 10px;
  margin: 10px;
  display: inline-block;
  max-width: 400px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  gap: 10px;
}
.contact-form label {
  text-align: left;
  font-weight: bold;
}
.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.contact-form button {
  background-color: #f57c22;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.contact-form button:hover {
  background-color: #e06b1d;
}


main {
  flex: 1;
  padding: 20px;
}
footer {
  background-color: #226f35;
  color: white;
  padding: 10px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}